<div class="like-top">
<div class="like-image">
<div class="like-index-grad">
<div class="like-rank">
いいねランキング
</div>
<div class="like-index">
<% @cafes.each.with_index(1) do |cafe,i| %>
<div class="rank">
<%="#{i}位" %>
</div>
<div class="likes-rank">
店名：
<%= cafe.drink_name %><br>
住所：
<%= cafe.address%><br>
<div class="images-rank-list">
<%= link_to cafe_path(cafe.id), method: :get do %>
<% cafe.images.each do |image| %>
<%= image_tag image, class:'images-likes' %>
<% end %>
</div>
<% end %>
</div>
<% end %>

</div>
<%=link_to "戻る", root_path, class:"back-btn-rank" %>
</div>
</div>
</div>
