 <% if user_signed_in?  %>
 <%= render "sign_in" %>
  <div class="back-img">
  <div class="grad-index">
<%= render "shared/header" %>

<!--チェックボックス検索機能-->
<div class="checkbox-list">
お店の名前を入力してね
<%= search_form_for @p, url: search_caves_path do |form| %>
 <%= form.text_field :drink_name_cont, placeholder: "お店を検索する", class: "search-input" %>
<li id="lists">
カテゴリー検索
</li>
<ul  class="hidden" id="pull-down">
<li>
<p>Wifi</p>
<%= form.check_box :wifi_gteq,id: "wifi", class:"cafe-checkbox" %>
</li>
<li>
<p>おしゃれ</p>
<%= form.check_box :oshare_gteq, id:"oshare", class:"cafe-checkbox" %>
</li>
<li>
<p>静か</p>
<%= form.check_box :shizuka_gteq, id:"sizuka", class:"cafe-checkbox" %>
</li>
<li>
<p>コンセント</p>
<%= form.check_box :concent_gteq, id:"concent", class:"cafe-checkbox" %>
</li>
<li>
<p>会話しやすい</p>
<%= form.check_box :speak_gteq, id:"speak", class:"cafe-checkbox" %>
</li>
<li>
<p>明るい</p>
<%= form.check_box :bright_room_gteq, id:"bright_room", class:"cafe-checkbox" %>
</li>
<li>
<p>暗い</p>
<%= form.check_box :dark_room_gteq, id:"dark_room", class:"cafe-checkbox" %>
</li>
<li>
<p>ペット可</p>
<%= form.check_box :pet_gteq, id:"pet", class:"cafe-checkbox" %>
</li>
<li>
<p>喫煙スペース</p>
<%= form.check_box :smoke_room_gteq, id:"smoke_room", class:"cafe-checkbox" %>
</li>
</ul>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
</div>

<!--投稿写真全て表示-->
  <div class="image-likes">
  <div class="shin-list">
  新着
  </div>
 <div class="index-list">
 <ul class="main-list">
 <li class='cafe-main-item'>
 <% @cafes.each do |cafe|%>
 <div class="cafe-shin-list">
  <%= link_to cafe_path(cafe.id),class:'cafe-topbtn', method: :get do %>
  <%= image_tag(cafe.image, class: "cafe-main-image") %>
 <div class="cafe-drink-name">
  <%= cafe.drink_name %>
 </div>
 <div class="cafe-drink-name">
 <%= cafe.address %>
 </div>
 </div>
  <% end %>
   <% end %>
 </li>
 </ul>
 </div>
</div>

<!--ユーザー投稿写真一覧表示-->
<div class='image-main'>
<div class="user-post">
個人投稿写真
</div>
<div class='image-up'>
<ul class='cafe-list'>
<% @cafes.each do |cafe| %>
<li class='cafe-item'>
<div class='cafe-img-content'>
<%= link_to cafe_path(cafe.id), method: :get do %>
<% if current_user.id == cafe.user.id %>
<%= image_tag(cafe.image, class: "cafe-img") %>
<% end %>
</div>
<% end %>
<% end %>
</li>
</ul>
</div>
</div>
  <% else %>
 </div>
<%= render "logout" %>
</div>
<% end %>
</div>