 <% if user_signed_in?  %>
 <%= render "sign_in" %>
  <div class="back-img">
  <div class="grad-index">
<%= render "shared/header" %>

<!--チェックボックス検索機能-->
<div class="checkbox-list">
お店の名前を入力してね
<%= search_form_for @p, url: search_caves_path do |form| %>
 <%= form.text_field :drink_name_cont, placeholder: "お店を検索する", class: "search-input" %>
<li id="lists">
カテゴリー検索
</li>
<ul  class="hidden" id="pull-down">
<li>
<%= form.check_box :wifi_gteq, id: "check-list-wifi", class:"cafe-index-checkbox" %>
<label for="check-list-wifi" class="index-check-wifi">Wifi</label>
</li>
<li>
<%= form.check_box :oshare_gteq, id:"check-list-oshare", class:"cafe-index-checkbox" %>
<label for="check-list-oshare" class="index-check-oshare">おしゃれ</label>
</li>
<li>
<%= form.check_box :shizuka_gteq, id:"check-list-shizuka", class:"cafe-index-checkbox" %>
<label for="check-list-shizuka" class="index-check-shizuka">静か</label>
</li>
<li>
<%= form.check_box :concent_gteq, id:"check-list-concent", class:"cafe-index-checkbox" %>
<label for="check-list-concent" class="index-check-concent">コンセント</label>
</li>
<li>
<%= form.check_box :speak_gteq, id:"check-list5", class:"cafe-index-checkbox" %>
<label for="check-list5" class="index-check-speak">会話</label>
</li>
<li>
<%= form.check_box :bright_room_gteq, id:"check-list6", class:"cafe-index-checkbox" %>
<label for="check-list6" class="index-check-bright">明るい</label>
</li>
<li>
<%= form.check_box :dark_room_gteq, id:"check-list7", class:"cafe-index-checkbox" %>
<label for="check-list7" class="index-check-dark">暗い</label>
</li>
<li>
<%= form.check_box :pet_gteq, id:"check-list8", class:"cafe-index-checkbox" %>
<label for="check-list8" class="index-check-pet">ペット可</label>
</li>
<li>
<%= form.check_box :smoke_room_gteq, id:"check-list9", class:"cafe-index-checkbox" %>
<label for="check-list9" class="index-check-smoke">喫煙</label>
</li>
</ul>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
</div>

<!--投稿写真全て表示-->
  <div class="image-likes">
  <div class="shin-list">
  新着
  </div>
 <div class="index-list">
 <ul class="main-list">
 <li class='cafe-main-item'>
 <% @cafes.each do |cafe|%>
 <div class="cafe-shin-list">
 <div class="cafe-images-list">
  <%= link_to cafe_path(cafe.id),class:'cafe-topbtn', method: :get do %>
  <% cafe.images.each do |image| %>
      <%= image_tag image, class:'images-index' %>
      <% end %>
  </div>
 <div class="cafe-drink-name">
  <%= cafe.drink_name %>
 </div>
 <div class="cafe-drink-name">
 <%= cafe.address %>
 </div>
 </div>
  <% end %>
   <% end %>
 </li>
 </ul>
 </div>
</div>

<!--ユーザー投稿写真一覧表示-->
<div class='image-main'>
<div class="user-post">
個人投稿写真
</div>
<div class='image-up'>
<ul class='cafe-list'>
<% @cafes.each do |cafe| %>
<li class='cafe-item'>
<%= cafe.drink_name %>
<div class='cafe-img-content'>
<%= link_to cafe_path(cafe.id), method: :get do %>
<% if current_user.id == cafe.user.id %>
 <% cafe.images.each do |image| %>
      <%= image_tag image, class:'cafe-img' %>
      <% end %>
<% end %>
</div>
<% end %>
<% end %>
</li>
</ul>
</div>
</div>
  <% else %>
 </div>
<%= render "logout" %>
</div>
<% end %>
</div>