<div class="new-main">
 <div class="new-main-side">
<%= form_with model:@cafe, url:caves_path, local: true do |f| %>
<%= render 'shared/error_messages', model: f.object %>
<div class="cafe-new-main">
<div class="weight-cafe-text">
 投稿写真
 <span class="span">必須</span>
 </div>
<div class="cafe-images">
<p>
 写真をアップロード
 </p>
 <%= f.file_field :images, name: 'cafe[images][]', id:"cafe-image", class: "images" %>
  <div id="image-list"> </div>
 </div>
</div>

<div class="cafe-new-text">
<div class="weight-cafe-text">
喫茶店名
<span class="span">必須</span>
</div>
 <%= f.text_area :drink_name, id: "drink_name", class: "cafe-text-name", placeholder:"例)喫茶Cafein" %>
</div>

<div class="cafe-new-text">
<div class="weight-cafe-text">
投稿情報
<span class="span">必須</span>
</div>
<%= f.text_area :text, id: "text", class: "cafe-text", placeholder:"飲み物、金額、店の情報などを記入してください。" %>
</div>


<div class="cafe-new-check">
該当する項目にチェックを入れてください。
<span>任意</span>
</div>
<div class="cafe-check">
<div class="check-box">
<%= f.check_box :wifi, id: "check-list-wifi", class:"cafe-index-checkbox" %>
<label for="check-list-wifi" class="index-check-wifi">Wifi</label>
</div>
<div class="check-box">
<%= f.check_box :oshare, id:"check-list-oshare", class:"cafe-index-checkbox" %>
<label for="check-list-oshare" class="index-check-oshare">おしゃれ</label>
</div>
<div class="check-box">
<%= f.check_box :shizuka, id:"check-list-shizuka", class:"cafe-index-checkbox" %>
<label for="check-list-shizuka" class="index-check-shizuka">静か</label>
</div>
<div class="check-box">
<%= f.check_box :concent, id:"check-list-concent", class:"cafe-index-checkbox" %>
<label for="check-list-concent" class="index-check-concent">コンセント</label>
</div>
<div class="check-box">
<%= f.check_box :speak, id:"check-list5", class:"cafe-index-checkbox" %>
<label for="check-list5" class="index-check-speak">賑やか</label>
</div>
<div class="check-box">
<%= f.check_box :bright_room, id:"check-list6", class:"cafe-index-checkbox" %>
<label for="check-list6" class="index-check-bright">明るい</label>
</div>
<div class="check-box">
<%= f.check_box :dark_room, id:"check-list7", class:"cafe-index-checkbox" %>
<label for="check-list7" class="index-check-dark">暗い</label>
</div>
<div class="check-box">
<%= f.check_box :pet, id:"check-list8", class:"cafe-index-checkbox" %>
<label for="check-list8" class="index-check-pet">ペット可</label>
</div>
<div class="check-box">
<%= f.check_box :smoke_room, id:"check-list9", class:"cafe-index-checkbox" %>
<label for="check-list9" class="index-check-smoke">喫煙</label>
</div>
</div>

<div class="cafe-address">
<div class="address-text">
住所を記入してください。
<span class="span">必須</span>
</div>
<%= f.text_field :address, id:"address", class:"cafe-addres-map", placeholder:"東京都"%>
<input type="button" value="検索" onclick="codeAddress()">
<div id="map" >
</div>
</div>

<div class="cafe-buttton">
<%= f.submit "投稿する", class:"sell-btn" %>
<%=link_to "戻る", root_path, class:"back-btn" %>
<% end %>
</div>
</div>
