<div class="search-top">
<div class="search-main">
<div class="search-main-grad">
<div class="search-main-top">
<% @results.each do |cafe| %>
<div class="search-rank">
店名：
<%= cafe.drink_name %><br>
住所
<%= cafe.address %><br>
<div class="search-rank-list">
<%= link_to cafe_path(cafe.id), method: :get do %>
  <% cafe.images.each do |image| %>
     <%= image_tag image.variant(resize: '500x500'), class:'images-search' %>
  <% end %>
  </div>
<% end %>
</div>
<% end %>
</div>
<%=link_to "戻る", root_path, class:"back-btn-search" %>
</div>
</div>
</div>
