<div class="cafe-show">
<div class="cafe-show-grad">
<div class="cafe-show-main">
  <div class="cafe-show-image">
 <% @cafe.images.each do |image| %>
      <%= image_tag image.variant(resize: '500x500'), class:'images' %>
      <% end %>
  </div>
  <div class="cafe-likes-count">
  いいね件数: <%= @cafe.likes.count %>
 <% if current_user.already_liked?(@cafe) %>
  <%= button_to 'いいねを取り消す', cafe_like_path(@cafe), method: :delete %>
 <% else %>
  <%= button_to 'いいね', cafe_likes_path(@cafe) %>
 <% end %>
 </div>
 
   <div class='cafe-show-drink_name'>
   喫茶店名<br>
     <%= @cafe.drink_name %>
   </div>
   <div class='cafe-show-text'>
   内容<br>
    <%= safe_join(@cafe.text.split("\n"),tag(:br)) %>
   </div>
   <div class="cafe-show-item">
    <%= form_with model:@cafe, method: :get, local: true do |f| %>
    <div class="cafe-check">
  <div class="check-box">
  <%= f.check_box :wifi, id: "check-list-wifi", class:"cafe-show-checkbox" %>
<label for="check-list-wifi" class="show-check-wifi">Wifi</label>
</div>
<div class="check-box">
<%= f.check_box :oshare, id:"check-list-oshare", class:"cafe-show-checkbox" %>
<label for="check-list-oshare" class="show-check-oshare">おしゃれ</label>
</div>
<div class="check-box">
<%= f.check_box :shizuka, id:"check-list-shizuka", class:"cafe-show-checkbox" %>
<label for="check-list-shizuka" class="show-check-shizuka">静か</label>
</div>
<div class="check-box">
<%= f.check_box :concent, id:"check-list-concent", class:"cafe-show-checkbox", disabled:"disabled" %>
<label for="check-list-concent" class="show-check-concent">コンセント</label>
</div>
<div class="check-box">
<%= f.check_box :speak, id:"check-list-speak", class:"cafe-show-checkbox", disabled:"disabled" %>
<label for="check-list5" class="show-check-speak">賑やか</label>
</div>
<div class="check-box">
<%= f.check_box :bright_room, id:"check-list-bright", class:"cafe-show-checkbox", disabled:"disabled" %>
<label for="check-list6" class="show-check-bright">明るい</label>
</div>
<div class="check-box">
<%= f.check_box :dark_room, id:"check-list-dark", class:"cafe-show-checkbox", disabled:"disabled" %>
<label for="check-list7" class="show-check-dark">暗い</label>
</div>
<div class="check-box">
<%= f.check_box :pet, id:"check-list-pet", class:"cafe-show-checkbox", disabled:"disabled" %>
<label for="check-list8" class="show-check-pet">ペット可</label>
</div>
<div class="check-box">
<%= f.check_box :smoke_room, id:"check-list-smoke", class:"cafe-show-checkbox", disabled:"disabled" %>
<label for="check-list9" class="show-check-smoke">喫煙</label>
</div>
   <% end %>
   </div>
   </div>
   <div class='cafe-show-address'>
   <%= @cafe.address %>
   </div>
   <div id="show_map">
   </div>
   
  <div>
   <% if current_user.id == @cafe.user_id %>
    <%= link_to "編集", edit_cafe_path(@cafe.id), method: :get, class: "cafe-edit" %>
    <%= link_to "削除", cafe_path(@cafe.id), method: :delete, class:"cafe-destroy" %>
    <%=link_to "戻る", root_path, class:"back-btn-show" %>
  <% else %>
   <%=link_to "戻る", root_path, class:"back-btn-show" %>
  <% end %>
   </div>
   </div>
   </div>
</div>

