<div class="cafe-show">
<div class="cafe-show-grad">
  <div class="cafe-show-item">
    <%= image_tag(@cafe.image, class:'cafe-img-box')%>
  </div>
  <div>
  いいね件数: <%= @cafe.likes.count %>
 <% if current_user.already_liked?(@cafe) %>
  <%= button_to 'いいねを取り消す', cafe_like_path(@cafe), method: :delete %>
 <% else %>
  <%= button_to 'いいね', cafe_likes_path(@cafe) %>
 <% end %>
 </div>
 
   <div class='cafe-show-drink_name'>
   喫茶店名<br>
     <%= @cafe.drink_name %>
   </div>
   <div class='cafe-show-text'>
   内容<br>
    <%= safe_join(@cafe.text.split("\n"),tag(:br)) %>
   </div>
   <div class="cafe-show-item">
    <%= form_with model:@cafe, method: :get, local: true do |f| %>
    <div class="cafe-check">
  <div class="check-box">
  Wifi<br>
   <%= f.check_box :wifi, id: "wifi", class:"cafe-checkbox", disabled:"disabled" %>
</div>
<div class="check-box-show" >
おしゃれ<br>
<%= f.check_box :oshare, id:"oshare", class:'cafe-checkbox', disabled:"disabled" %>
</div>
<div class="check-box">
静か<br>
<%= f.check_box :shizuka, id:"shizuka", class:"cafe-checkbox", disabled:"disabled" %>
</div>
<div class="check-box">
コンセント<br>
<%= f.check_box :concent, id:"concent", class:"cafe-checkbox", disabled:"disabled"  %>
</div>
<div class="check-box">
会話しやすい<br>
<%= f.check_box :speak, id:"speak", class:"cafe-checkbox", disabled:"disabled"  %>
</div>
<div class="check-box">
明るい<br>
<%= f.check_box :bright_room, id:"bright_room", class:"cafe-checkbox", disabled:"disabled"  %>
</div>
<div class="check-box">
暗い<br>
<%= f.check_box :dark_room, id:"dark_room", class:"cafe-checkbox", disabled:"disabled"  %>
</div>
<div class="check-box">
ペット可<br>
<%= f.check_box :pet, id:"pet", class:"cafe-checkbox", disabled:"disabled" %>
</div>
 <div class="check-box">
   喫煙スペース有<br>
  <%= f.check_box :smoke_room, id:"smoke_room", class:"cafe-checkbox", disabled:"disabled"  %>
 </div>
   <% end %>
   </div>
   </div>
   <div class='cafe-show-item'>
   <%= @cafe.address %>
   </div>
   <div id="show_map">
   </div>
   
  <div>
   <% if current_user.id == @cafe.user_id %>
    <%= link_to "編集する", edit_cafe_path(@cafe.id), method: :get, class: "cafe-edit" %>
    <%= link_to "削除", cafe_path(@cafe.id), method: :delete, class:"cafe-destroy" %>
    <%=link_to "戻る", root_path, class:"back-btn-show" %>
  <% else %>
   <%=link_to "戻る", root_path, class:"back-btn-show" %>
  <% end %>
   </div>
   </div>
</div>

