 <div class="body">
</div>
		<div class="grad">
    
    </div>
		<div class="header">
			<div>
      <span>Login</span>
      </div>
		</div>
		<br>
  <%=form_with  class: 'session-main' ,local: true do |f| %>
		<div class="login">
    <%= f.email_field :email, class:"login-email", placeholder: "メールアドレス", id: "email", autofocus: true %><br>
    <%= f.password_field :password, class: "login-pass", placeholder: "Password", id: "password" %><br>
    <%= f.submit "ログイン",class:"login-button"%>
		</div>
    <% end %>

<%= render "devise/shared/links" %>
